.header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 3rem;
  gap: 2rem;
  width: 100%;
  height: 8rem;
  background: linear-gradient(to right, #171738, #593c8f);
}

.logo {
  display: flex;
  margin-right: 10rem;
  font-size: 3.2rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5rem;
  position: relative;
}

.logo::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  background: #fff;
  transition: 0.15s ease;
  transform: scaleX(0);
}

.logo:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.desktopMenu {
  display: flex;
}

ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

ul li {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  position: relative;
}

ul li a {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.08rem;
  font-size: 1.8rem;
  text-decoration: none;
  display: flex;
  position: relative;
}

.desktopMenu ul li a::after {
  content: "";
  width: 100%;
  height: 2.5px;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  bottom: -1rem;
  background: #fff;
  transition: 0.15s ease;
}

.desktopMenu ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.mobileMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    gap: 0;
  }

  .desktopMenu {
    display: none;
  }

  .mobileMenu {
    display: flex;
    animation: 0.1s fade forwards ease;
  }

  .mobileMenu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: linear-gradient(to right, #171738, #593c8f);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 4rem;
    width: 100%;
    height: 100vh;
  }

  .mobileMenu ul li a {
    font-size: 2rem;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
